@page "/add-tbl-so-customer"
@layout MainLayout
@inherits CanErp2.Pages.AddTblSoCustomerComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblsocustomer" TItem="CanErp2.Models.DbAtVdc2.TblSoCustomer" Visible="@(tblsocustomer != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Customer_ID" style="width: 100%" Text="Mã khách hàng">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" Placeholder="@InitCustomerID" ReadOnly="true" style="display: block; width: 100%" @bind-Value="@InitCustomerID" Name="Mã khách hàng">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Customer_ID" style="position: absolute" Text="Customer_ID is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastName" style="width: 100%" Text="Họ">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" Placeholder="Họ" ReadOnly="true" style="width: 100%" @bind-Value="@InitCustLastName" Name="LastName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="FirstName" style="width: 100%" Text="Tên">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" Placeholder="Tên" ReadOnly="true" style="width: 100%" @bind-Value="@InitCustFirstName" Name="FirstName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="CustomerAdressBook_FK" style="width: 100%" Text="Tbl Gn Address Book">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblGnAddressBooksResult" Placeholder="Choose TblGnAddressBook" style="width: 100%" TextProperty="AddressBook_ID" @bind-Value="@(tblsocustomer.CustomerAdressBook_FK)" ValueProperty="AddressBook_SEQ" Name="CustomerAdressBook_FK" Change="@CustomerAdressBookFkChange">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="CreditLimit" style="width: 100%" Text="Credit Limit">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.CreditLimit)" Name="CreditLimit">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastRevisedCreditLimitDate" style="width: 100%" Text="Last Revised Credit Limit Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(tblsocustomer.LastRevisedCreditLimitDate)" Name="LastRevisedCreditLimitDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PaymentTerm_FK" style="width: 100%" Text="Tbl Gn Payment Term">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblGnPaymentTermsResult" Placeholder="Choose TblGnPaymentTerm" style="width: 100%" TextProperty="PaymentTerm_ID" @bind-Value="@(tblsocustomer.PaymentTerm_FK)" ValueProperty="PaymentTerm_SEQ" Name="PaymentTerm_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PaymentType_FK" style="width: 100%" Text="Tbl Gn Payment Type">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblGnPaymentTypesResult" Placeholder="Choose TblGnPaymentType" style="width: 100%" TextProperty="PaymentType_ID" @bind-Value="@(tblsocustomer.PaymentType_FK)" ValueProperty="PaymentType_SEQ" Name="PaymentType_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="DiscountPercent" style="width: 100%" Text="Discount Percent">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.DiscountPercent)" Name="DiscountPercent">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Current_MTD_Sales" style="width: 100%" Text="Current Mtd Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.Current_MTD_Sales)" Name="Current_MTD_Sales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Current_MTD_Returns" style="width: 100%" Text="Current Mtd Returns">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.Current_MTD_Returns)" Name="Current_MTD_Returns">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_GrossSales" style="width: 100%" Text="Ytd Gross Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.YTD_GrossSales)" Name="YTD_GrossSales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_Returns" style="width: 100%" Text="Ytd Returns">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.YTD_Returns)" Name="YTD_Returns">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_COGS" style="width: 100%" Text="Ytd Cogs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.YTD_COGS)" Name="YTD_COGS">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LYR_GrossSales" style="width: 100%" Text="Lyr Gross Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.LYR_GrossSales)" Name="LYR_GrossSales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LYR_COGS" style="width: 100%" Text="Lyr Cogs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.LYR_COGS)" Name="LYR_COGS">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastAmountSales" style="width: 100%" Text="Last Amount Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.LastAmountSales)" Name="LastAmountSales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="SalesPersonAdressBook_FK" style="width: 100%" Text="Sales Person Adress Book Fk">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.SalesPersonAdressBook_FK)" Name="SalesPersonAdressBook_FK">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="CommissionPercent" style="width: 100%" Text="Commission Percent">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.CommissionPercent)" Name="CommissionPercent">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="SalesPerson_MTD_Goal" style="width: 100%" Text="Sales Person Mtd Goal">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.SalesPerson_MTD_Goal)" Name="SalesPerson_MTD_Goal">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="SalesPerson_YTD_Goal" style="width: 100%" Text="Sales Person Ytd Goal">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.SalesPerson_YTD_Goal)" Name="SalesPerson_YTD_Goal">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ChargeInterest" style="width: 100%" Text="Charge Interest">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@(tblsocustomer.ChargeInterest)" Name="ChargeInterest">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Statement" style="width: 100%" Text="Statement">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@(tblsocustomer.Statement)" Name="Statement">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Aging30DayAmout" style="width: 100%" Text="Aging 30 Day Amout">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.Aging30DayAmout)" Name="Aging30DayAmout">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Aging60DayAmout" style="width: 100%" Text="Aging 60 Day Amout">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.Aging60DayAmout)" Name="Aging60DayAmout">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Aging90DayAmout" style="width: 100%" Text="Aging 90 Day Amout">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.Aging90DayAmout)" Name="Aging90DayAmout">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Notes" style="width: 100%" Text="Notes">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(tblsocustomer.Notes)" Name="Notes">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastUpdatedDate" style="width: 100%" Text="Last Updated Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(tblsocustomer.LastUpdatedDate)" Name="LastUpdatedDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastUdpatedBy" style="width: 100%" Text="Last Udpated By">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsocustomer.LastUdpatedBy)" Name="LastUdpatedBy">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Inactive" style="width: 100%" Text="Inactive">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@(tblsocustomer.Inactive)" Name="Inactive">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
