@page "/add-tbl-so-order-detail"
@layout MainLayout
@inherits CanErp2.Pages.AddTblSoOrderDetailComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblsoorderdetail" Visible="@(tblsoorderdetail != null)" TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetail" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl So Order Detail Status" Component="SODetailStatus_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblSoOrderDetailStatusesResult" TextProperty="SODetailStatusText" ValueProperty="SODetailStatus_SEQ" Placeholder="Choose TblSoOrderDetailStatus" style="width: 100%" @bind-Value="@(tblsoorderdetail.SODetailStatus_FK)" Name="SODetailStatus_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl So Sales Order" Component="SO_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblSoSalesOrdersResult" TextProperty="SO_ID" ValueProperty="SO_SEQ" Placeholder="Choose TblSoSalesOrder" style="width: 100%" @bind-Value="@(tblsoorderdetail.SO_FK)" Name="SO_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl Ic Inventory" Component="Inventory_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblIcInventoriesResult" TextProperty="Warehouse_FK" ValueProperty="Inventory_SEQ" Placeholder="Choose TblIcInventory" style="width: 100%" @bind-Value="@(tblsoorderdetail.Inventory_FK)" Name="Inventory_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Unit Price" Component="UnitPrice" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.UnitPrice)" Name="UnitPrice">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Qty On Hand" Component="QtyOnHand" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.QtyOnHand)" Name="QtyOnHand">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Qty Ordered" Component="QtyOrdered" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.QtyOrdered)" Name="QtyOrdered">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Qty Ordered Now" Component="QtyOrderedNow" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.QtyOrderedNow)" Name="QtyOrderedNow">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Qty Back Ordered" Component="QtyBackOrdered" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.QtyBackOrdered)" Name="QtyBackOrdered">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Qty Picked" Component="QtyPicked" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.QtyPicked)" Name="QtyPicked">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Discount Percent" Component="DiscountPercent" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.DiscountPercent)" Name="DiscountPercent">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tax Rate" Component="TaxRate" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblsoorderdetail.TaxRate)" Name="TaxRate">
                </RadzenNumeric>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
