@page "/tbl-po-ap-invoices-details"
@layout MainLayout
@inherits CanErp2.Pages.TblPoApInvoicesDetailsComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Po Ap Invoices Details">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblPoApInvoicesDetailsResult" TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Vendor_ID" SortProperty="TblPoVendor.LastName" FilterProperty="TblPoVendor.LastName" Title="Tbl Po Vendor">
              <Template Context="data">
              @(data.TblPoVendor?.LastName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Invoice_No" Title="Invoice No">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Invoice_Date" FormatString="{0:dd/MM/yyyy}" Title="Invoice Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Inventory_FK" SortProperty="TblIcInventory.Warehouse_FK" FilterProperty="TblIcInventory.Warehouse_FK" Title="Tbl Ic Inventory">
              <Template Context="data">
              @(data.TblIcInventory?.Warehouse_FK)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Unit_FK" SortProperty="TblIcUnit.UnitText" FilterProperty="TblIcUnit.UnitText" Title="Tbl Ic Unit">
              <Template Context="data">
              @(data.TblIcUnit?.UnitText)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Unit_Price" Title="Unit Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Property="Qty_Ordered" Title="Qty Ordered">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoApInvoicesDetail" Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErp2ModelsDbAtVdc2TblPoApInvoicesDetail">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErp2ModelsDbAtVdc2TblPoApInvoicesDetail))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
